

**/__pycache__/

.vscode/settings.json
smoment/setup-sampling-deps.bat
*.pkl
smoment/fetch-sampling-results.bat
smoment/remove-cached-sampling-files.bat
Files_Databases/bigg_models_metabolites.txt
Files_Databases/Human1_genes.tsv
Files_Databases/Human1_metabolites.tsv
Files_Databases/Human1_reactions.tsv
Files_Databases/MNX_chem_xref.tsv
Files_Databases/MNX_reac_xref.tsv
Files_Databases/reac_prop.tsv

Test_output/*.csv

